#header{
    color:white;
    background-color:rgb(55, 216, 154);
    position:relative !important;
    background-size: cover;
    background-position-y: 50%;
}
#header h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 500%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}
#city-search{
    width:80%;
}
#search-button-icon{
    width:15px;
    display:inline-block;
}
#current-weather {
    padding-left: 15px;
}
#clear-storage{
    color:grey;
    text-decoration: none;
    font-size:.75em;
    margin: .5em 0em 0em .5em;
}
.weather-card{
    width: 9rem;
    background-color: #02d898;
    color: white;
    text-align: center;
}
@media only screen and (max-width: 992px) {
    #city-search{
        width:100%;
    }
    #search-button{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {

    #fiveDayForecastUl{
        justify-content: center;
    }
}